.sectionHeading {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.sectionHeading3PopularWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.divproductImgIcon {
  height: 181.6px;
  width: 181.6px;
  position: relative;
  border-radius: var(--br-mini);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divproductImgWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-3xs);
}
.add,
.icon {
  position: relative;
}
.icon {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.add {
  line-height: 17px;
  display: inline-block;
  min-width: 26.3px;
}
.link {
  height: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.organicQuinoe,
.seedsOfChange {
  margin: 0;
}
.heading2Container {
  position: relative;
  line-height: 19.2px;
}
.divproductRateIcon {
  align-self: stretch;
  height: 12px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divproductRateWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div {
  position: relative;
  line-height: 17px;
  display: inline-block;
  min-width: 28px;
}
.starConfigurator {
  width: 98px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.b,
.b1 {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.b {
  display: inline-block;
  min-width: 56px;
}
.b1 {
  height: 18px;
  text-decoration: line-through;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 35.3px;
}
.sphereCluster {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  font-size: var(--table-heading-size);
  color: var(--color-darkgray);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs-4);
  font-size: var(--font-size-lg);
  color: var(--color-royalblue);
  font-family: var(--font-quicksand);
}
.frameWrapper1,
.starConfiguratorParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.starConfiguratorParent {
  justify-content: flex-start;
  gap: var(--gap-10xs-4);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameWrapper1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.add1,
.icon1 {
  position: relative;
}
.icon1 {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.add1 {
  font-size: var(--table-heading-size);
  line-height: 17px;
  display: inline-block;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  min-width: 26.3px;
}
.link1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-lgi-6) var(--padding-3xs)
    var(--padding-xl);
  background-color: var(--color-royalblue);
  border-radius: var(--br-9xs);
  align-items: flex-start;
  gap: var(--gap-8xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.link1:hover {
  background-color: var(--color-dodgerblue-100);
}
.frameContainer,
.frameDiv,
.link1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameDiv {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-8xs);
}
.frameContainer {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  font-size: var(--table-heading-size);
  color: var(--color-silver);
  font-family: var(--font-lato);
}
.heading2LinkSeedsOfChParent,
.sectionTabpanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading2LinkSeedsOfChParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-quicksand);
}
.sectionTabpanel {
  flex: 0.8416;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-26xl-6) var(--padding-xl) var(--padding-2xl)
    var(--padding-mini);
  gap: var(--gap-29xl-4);
  min-width: 229px;
  max-width: 234px;
  color: var(--color-white);
}
.sectionTabpanelParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl-4);
  max-width: 100%;
}
.frameWrapper {
  width: 1271.6px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.animation,
.frameGroup,
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.animation {
  width: 1269.6px;
  flex-direction: row;
  gap: var(--gap-6xl-4);
}
.frameGroup,
.frameParent {
  flex-direction: column;
  max-width: 100%;
}
.frameGroup {
  width: 1271.6px;
  overflow-x: auto;
  gap: var(--gap-11xl);
  font-size: var(--table-heading-size);
  font-family: var(--font-lato);
}
.frameParent {
  gap: var(--gap-24xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
  font-family: var(--font-quicksand);
}
@media screen and (max-width: 1050px) {
  .sectionHeading {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .sectionHeading {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .sectionTabpanel {
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
