.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dashboard {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 126.2px;
  z-index: 1;
}
.dashboardWrapper {
  width: 333.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-sm) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image41Icon {
  height: 22px;
  width: 23.5px;
  position: relative;
  object-fit: cover;
  min-height: 22px;
}
.search {
  position: relative;
  display: inline-block;
  min-width: 62px;
}
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frameItem {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.image41Parent {
  width: 226.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-12xl) var(--padding-mid);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs-8);
  z-index: 1;
  font-size: var(--font-size-mini);
  color: var(--color-lightsteelblue);
}
.frameInner {
  position: absolute;
  top: 2px;
  left: 19.2px;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 8.6px;
  height: 8px;
}
.image37Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.5px;
  height: 22px;
  object-fit: cover;
  z-index: 1;
}
.ellipseParent {
  height: 22px;
  width: 27.8px;
  position: relative;
  z-index: 1;
}
.ellipseDiv {
  position: absolute;
  top: 3px;
  left: 14.9px;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 8.6px;
  height: 8px;
}
.image39Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.ellipseGroup {
  height: 22px;
  width: 23.5px;
  position: relative;
  z-index: 1;
}
.frameDiv,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex-direction: row;
  gap: var(--gap-lg-2);
}
.frameDiv {
  flex-direction: column;
  padding: var(--padding-mid) 0 0;
}
.frameChild1 {
  height: 48px;
  width: 51.3px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 24px);
  right: 4.3px;
  border-radius: 50%;
  background-color: var(--color-brown);
  z-index: 1;
}
.image40Icon {
  height: 56px;
  width: 59.9px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.ellipseContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.shadil {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.shadilWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
}
.frameParent2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid-1);
  min-width: 126px;
}
.frameContainer,
.frameGroup,
.rectangleParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameGroup {
  width: 360.4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-78xl-3);
  font-size: var(--font-size-lg);
}
.frameContainer,
.rectangleParent {
  box-sizing: border-box;
}
.rectangleParent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-18xl) var(--padding-lg)
    var(--padding-5xl-6);
  position: relative;
  gap: var(--gap-xl);
}
.frameContainer {
  width: 1252px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.rectangleDiv {
  width: 290px;
  height: 182px;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  backdrop-filter: blur(8px);
  display: none;
  z-index: 1;
}
.div,
.orders,
.rectangleDiv {
  position: relative;
}
.orders {
  margin: 0;
  width: 90px;
  font-size: inherit;
  line-height: 88px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  z-index: 1;
}
.div {
  flex: 1;
  line-height: 70px;
  font-weight: 600;
  z-index: 2;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-14xl);
  margin-top: -15px;
  font-size: var(--font-size-13xl);
  color: var(--typography-1);
}
.frameChild2,
.rectangleGroup {
  position: absolute;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  backdrop-filter: blur(8px);
}
.rectangleGroup {
  top: 3px;
  left: 324px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-63xl) var(--padding-14xl)
    var(--padding-73xl);
  box-sizing: border-box;
}
.frameChild2 {
  width: 100%;
  height: 182px;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.div1,
.revenue {
  position: relative;
}
.revenue {
  margin: 0;
  width: 113px;
  font-size: inherit;
  line-height: 88px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  z-index: 1;
}
.div1 {
  flex: 1;
  line-height: 160px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 2;
}
.container,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container {
  width: 124px;
  flex-direction: row;
  padding: 0 var(--padding-mid);
  margin-top: -60px;
  color: var(--typography-1);
}
.rectangleContainer {
  position: absolute;
  top: 3px;
  left: 0;
  width: 290px;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-57xl) 0;
}
.conversion,
.frameChild3 {
  position: relative;
  z-index: 1;
}
.frameChild3 {
  width: 290px;
  height: 182px;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  backdrop-filter: blur(8px);
  display: none;
}
.conversion {
  margin: 0;
  width: 149px;
  font-size: inherit;
  line-height: 88px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.div2 {
  flex: 1;
  position: relative;
  line-height: 69px;
  font-weight: 600;
  z-index: 2;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xl);
  margin-top: -29px;
  color: var(--typography-1);
}
.rectangleParent1,
.rectangleTextarea {
  background-color: var(--color-white);
  width: 290px;
  position: absolute;
  border-radius: var(--br-29xl);
  backdrop-filter: blur(8px);
}
.rectangleParent1 {
  top: 3px;
  left: 973px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xl) var(--padding-29xl)
    var(--padding-96xl);
  box-sizing: border-box;
}
.rectangleTextarea {
  border: 0;
  height: 100%;
  outline: 0;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.k,
.visitor {
  position: relative;
}
.visitor {
  margin: 0;
  width: 86px;
  font-size: inherit;
  line-height: 88px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  z-index: 1;
}
.k {
  flex: 1;
  line-height: 57px;
  font-weight: 600;
  z-index: 2;
}
.kWrapper,
.rectangleParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xs);
  margin-top: -8px;
  color: var(--typography-1);
}
.rectangleParent2 {
  position: absolute;
  top: 0;
  left: 653px;
  width: 376px;
  flex-direction: column;
  padding: 0 0 var(--padding-26xl) var(--padding-72xl);
  box-sizing: border-box;
}
.frameParent3 {
  align-self: stretch;
  height: 197px;
  position: relative;
  color: var(--typography-3);
  font-family: var(--font-inter);
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-15xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameWrapper {
  margin-top: -403px;
  width: 1277px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
  font-family: var(--table-field);
}
@media screen and (max-width: 1125px) {
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .div {
    font-size: var(--font-size-7xl);
    line-height: 128px;
  }
  .frameParent {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .dashboard {
    font-size: var(--font-size-lgi);
  }
  .frameGroup {
    flex-wrap: wrap;
    gap: var(--gap-30xl);
  }
  .div,
  .orders,
  .revenue {
    font-size: var(--font-size-lgi);
    line-height: 70px;
  }
  .div,
  .revenue {
    line-height: 96px;
  }
  .revenue {
    line-height: 70px;
  }
  .conversion,
  .div1,
  .div2,
  .k,
  .visitor {
    font-size: var(--font-size-lgi);
    line-height: 128px;
  }
  .conversion,
  .div2,
  .k,
  .visitor {
    line-height: 70px;
  }
  .div2,
  .k,
  .visitor {
    line-height: 128px;
  }
  .k,
  .visitor {
    line-height: 70px;
  }
  .k {
    line-height: 128px;
  }
}
