.bg,
.filterIcon {
  position: relative;
}
.bg {
  align-self: stretch;
  width: 1091px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-100);
  border: 0.6px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.filterIcon {
  width: 25px;
  height: 22.5px;
  z-index: 1;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl-8) var(--padding-3xs-2) 0 0;
}
.lineIcon {
  width: 1.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  mix-blend-mode: normal;
  z-index: 1;
}
.lineWrapper {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs-9) 0 0;
  box-sizing: border-box;
}
.filterBy {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.filterByWrapper {
  width: 80.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-xs-5) 0 0;
  box-sizing: border-box;
}
.lineIcon1 {
  width: 1.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  mix-blend-mode: normal;
  z-index: 1;
}
.lineContainer {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs-9) 0 0;
  box-sizing: border-box;
}
.feb2019 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.feb2019Wrapper {
  width: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.icKeyboardArrowDown48pxIcon {
  width: 30.7px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.icKeyboardArrowDown48pxWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xl-9);
}
.lineIcon2 {
  height: 70px;
  width: 1.3px;
  position: relative;
  mix-blend-mode: normal;
  z-index: 1;
}
.conditionSplitter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs-9) 0 0;
  gap: var(--gap-lg);
}
.orderType {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.frameGroup,
.orderTypeWrapper {
  display: flex;
  align-items: flex-start;
}
.orderTypeWrapper {
  width: 92.2px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.frameGroup {
  width: 522.1px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.icKeyboardArrowDown48pxIcon1 {
  width: 30.7px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.icKeyboardArrowDown48pxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xl-9);
}
.lineIcon3 {
  height: 70px;
  width: 1.3px;
  position: relative;
  mix-blend-mode: normal;
  z-index: 1;
}
.frameContainer {
  width: 148.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-66xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.orderType1 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.orderTypeContainer {
  width: 77.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) 0 0;
  box-sizing: border-box;
}
.statusIcon {
  height: 70px;
  width: 1.3px;
  position: relative;
  mix-blend-mode: normal;
  z-index: 1;
}
.icReplay24pxIcon {
  width: 23px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.icReplay24pxWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.resetFilter {
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frameParent1,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs-3);
}
.frameWrapper {
  width: 125.5px;
  flex-direction: column;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  color: var(--color-crimson);
}
.filter,
.filterWrapper,
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameDiv {
  width: 267.9px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.filter,
.filterWrapper {
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.filter {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-100);
  border: 0.6px solid var(--color-lightgray-100);
  padding: 0 var(--padding-12xl-1);
  gap: var(--gap-14xl-3);
}
.filterWrapper {
  width: 1115px;
  padding: 0 var(--padding-xs);
}
.frameChild {
  height: 365px;
  width: 1273px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div,
.div1,
.div2,
.div3,
.slNo {
  align-self: stretch;
  height: 22px;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.slNoParent {
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-35xl-8);
  font-size: var(--table-heading-size);
}
.user {
  height: 22px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.userWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
  font-size: var(--table-heading-size);
  color: var(--font-subtext);
}
.andrewBojangles {
  width: 130px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.andrewBojangles1 {
  height: 21px;
  flex-shrink: 0;
}
.andrewBojangles1,
.andrewBojangles2,
.andrewBojangles3 {
  width: 130px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.andrewBojangles3 {
  height: 21px;
  flex-shrink: 0;
}
.frameParent2,
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.frameWrapper1 {
  width: 142px;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) var(--padding-12xs) 0;
  box-sizing: border-box;
  color: var(--color-black);
}
.phoneNumber,
.status {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.status {
  height: 22px;
  width: 52px;
  font-weight: 500;
}
.phoneNumber {
  height: 20px;
  width: 106px;
  font-size: var(--table-field-size);
}
.frameWrapper3,
.statusParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.statusParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper3 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
  font-size: var(--table-heading-size);
}
.active,
.div4 {
  height: 20px;
  width: 46px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div4 {
  width: 112px;
  white-space: nowrap;
}
.activeParent {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.active1,
.div5 {
  height: 21px;
  width: 46px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div5 {
  width: 112px;
  white-space: nowrap;
}
.activeGroup {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.active2,
.div6 {
  height: 20px;
  width: 46px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div6 {
  width: 112px;
  white-space: nowrap;
}
.activeContainer {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.active3,
.div7 {
  height: 21px;
  width: 46px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div7 {
  width: 112px;
  white-space: nowrap;
}
.activeParent1 {
  width: 239px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent3,
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.frameWrapper2 {
  width: 251px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.email {
  height: 22px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.emailWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  font-size: var(--table-heading-size);
}
.shadilrayyan2gmailcom {
  width: 193px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.shadilrayyan2gmailcom1 {
  height: 21px;
  flex-shrink: 0;
}
.shadilrayyan2gmailcom1,
.shadilrayyan2gmailcom2,
.shadilrayyan2gmailcom3 {
  width: 193px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.shadilrayyan2gmailcom3 {
  height: 21px;
  flex-shrink: 0;
}
.frameParent4,
.frameWrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent4 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.frameWrapper4 {
  width: 205px;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) var(--padding-12xs) 0;
  box-sizing: border-box;
}
.subject {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  z-index: 1;
}
.subjectWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.subject1 {
  width: 55px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  z-index: 1;
}
.subject2 {
  height: 21px;
  flex-shrink: 0;
}
.subject2,
.subject3,
.subject4 {
  width: 55px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  z-index: 1;
}
.subject4 {
  height: 21px;
  flex-shrink: 0;
}
.frameParent5,
.frameWrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent5 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-37xl-5);
}
.frameWrapper5 {
  width: 67px;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) var(--padding-12xs) 0;
  box-sizing: border-box;
}
.activity {
  height: 22px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.activityWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  font-size: var(--table-heading-size);
}
.daysAgo {
  width: 79px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  z-index: 1;
}
.daysAgo1 {
  height: 21px;
  flex-shrink: 0;
}
.daysAgo1,
.daysAgo2,
.daysAgo3 {
  width: 79px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  z-index: 1;
}
.daysAgo3 {
  height: 21px;
  flex-shrink: 0;
}
.frameParent6,
.frameWrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent6 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.frameWrapper6 {
  width: 91px;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) var(--padding-12xs) 0;
  box-sizing: border-box;
}
.hoversettingsIcon,
.hoversettingsIcon1,
.hoversettingsIcon2,
.hoversettingsIcon3 {
  width: 20px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hoversettingsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl-3);
}
.frameParent,
.rectangleParent {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
}
.rectangleParent {
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lgi) 0 var(--padding-mid) var(--padding-xs);
  gap: var(--gap-xl);
  font-size: var(--table-field-size);
  color: var(--font-subtext);
  font-family: var(--table-field);
}
.frameParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 0;
  gap: var(--gap-2xl);
  font-size: var(--table-heading-size);
  color: var(--color-gray-300);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 1125px) {
  .filter {
    flex-wrap: wrap;
  }
  .rectangleParent {
    flex-wrap: wrap;
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frameGroup {
    flex-wrap: wrap;
  }
  .filter {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .frameParent3 {
    gap: var(--gap-9xl);
  }
}
