.divproductImgIcon {
  height: 181.6px;
  width: 181.6px;
  position: relative;
  border-radius: var(--br-mini);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divproductImgWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-3xs);
}
.organicQuinoe,
.seedsOfChange {
  margin: 0;
}
.heading2Container {
  position: relative;
  line-height: 19.2px;
}
.divproductRateIcon {
  align-self: stretch;
  height: 12px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divproductRateWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div {
  position: relative;
  line-height: 17px;
  display: inline-block;
  min-width: 28px;
}
.starConfigurator {
  width: 98px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.b,
.b1 {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.b {
  display: inline-block;
  min-width: 56px;
}
.b1 {
  height: 18px;
  text-decoration: line-through;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 35.3px;
}
.sphereCluster {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  font-size: var(--table-heading-size);
  color: var(--color-darkgray);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs-4);
  font-size: var(--font-size-lg);
  color: var(--color-mediumseagreen);
  font-family: var(--font-quicksand);
}
.frameContainer,
.starConfiguratorParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.starConfiguratorParent {
  justify-content: flex-start;
  gap: var(--gap-10xs-4);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameContainer {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.add,
.icon {
  position: relative;
}
.icon {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.add {
  font-size: var(--table-heading-size);
  line-height: 17px;
  display: inline-block;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  min-width: 26.3px;
}
.link {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-lgi-6) var(--padding-3xs)
    var(--padding-xl);
  background-color: var(--color-royalblue);
  border-radius: var(--br-9xs);
  align-items: flex-start;
  gap: var(--gap-8xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.link:hover {
  background-color: var(--color-dodgerblue-100);
}
.frameParent,
.frameWrapper,
.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-8xs);
}
.frameWrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  font-size: var(--table-heading-size);
  color: var(--color-silver);
  font-family: var(--font-lato);
}
.heading2LinkSeedsOfChParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.heading2LinkSeedsOfChParent,
.layout,
.sectionTabpanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sectionTabpanel {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-26xl-6) var(--padding-xl) var(--padding-2xl)
    var(--padding-mini);
  gap: var(--gap-29xl-4);
}
.layout {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 229px;
  max-width: 234px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-quicksand);
}
@media screen and (max-width: 450px) {
  .sectionTabpanel {
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
