.sortIcon {
  width: 32px;
  height: 40px;
  position: relative;
  z-index: 1;
}
.sortWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.sold {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 88px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 52px;
  z-index: 1;
}
.layoutGrid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--typography-3);
  font-family: var(--font-inter);
}
