.heading6,
.vectorIcon {
  flex: 1;
  position: relative;
}
.vectorIcon {
  width: 101.8px;
  max-height: 100%;
}
.heading6 {
  height: 39.2px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.heading6LinkMilksAndWrapper {
  width: 101.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-7) 0 var(--padding-mini);
  box-sizing: border-box;
}
.divcard1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xl-2) var(--padding-18xl) var(--padding-32xl-8);
  gap: var(--gap-base);
}
.vectorIcon1 {
  width: 102.2px;
  height: 102.2px;
  position: relative;
}
.heading61 {
  height: 39.2px;
  flex: 1;
  position: relative;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading6LinkWinesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl-3) 0 var(--padding-xl);
}
.divcard11 {
  width: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xl-2) var(--padding-18xl) var(--padding-14xl-8);
  gap: var(--gap-2xs);
}
.figureIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.beauty,
.clothing {
  margin: 0;
}
.heading6Container {
  flex: 1;
  position: relative;
  line-height: 19.2px;
}
.divcard12,
.heading6LinkClothingWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg-1) 0 var(--padding-lg);
}
.divcard12 {
  width: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-22xl) var(--padding-11xl) var(--padding-10xl-2);
  gap: var(--gap-lgi);
}
.vectorIcon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.heading62 {
  height: 39.2px;
  flex: 1;
  position: relative;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 76.6px;
}
.divcard13,
.heading6LinkPetFoodsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-smi-2);
}
.divcard13 {
  width: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-10xl-2) var(--padding-18xl) var(--padding-23xl-7)
    var(--padding-19xl);
  gap: var(--gap-5xl);
}
.figureIcon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.heading63 {
  flex: 1;
  position: relative;
  line-height: 19.2px;
}
.divcard14,
.heading6LinkPackagedWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-lgi-7);
}
.divcard14 {
  width: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-22xl) var(--padding-11xl) var(--padding-10xl-2);
  gap: var(--gap-lgi);
}
.figureIcon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading64 {
  flex: 1;
  position: relative;
  line-height: 19.2px;
}
.divcard15,
.heading6LinkBakingWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
}
.divcard15 {
  width: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-22xl) var(--padding-11xl) var(--padding-10xl-2);
  gap: var(--gap-lgi);
}
.figureIcon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading65 {
  height: 39.2px;
  flex: 1;
  position: relative;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 87.3px;
}
.categporiesNavogation,
.divcard16,
.heading6LinkVegetablesWrapper,
.tableTable {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading6LinkVegetablesWrapper {
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 var(--padding-mini-3);
}
.categporiesNavogation,
.divcard16,
.tableTable {
  box-sizing: border-box;
}
.divcard16 {
  width: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 1px solid var(--color-ghostwhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-22xl) var(--padding-11xl) var(--padding-10xl-2);
  gap: var(--gap-lgi);
}
.categporiesNavogation,
.tableTable {
  flex-direction: row;
}
.categporiesNavogation {
  width: 1610px;
  overflow-x: auto;
  flex-shrink: 0;
  padding: 0 var(--padding-xs) var(--padding-xl);
  gap: var(--gap-5xl);
  max-width: 114%;
}
.tableTable {
  height: 235.4px;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-quicksand);
}
