.leftSidebarIcon {
  margin-left: -153px;
  height: 1369px;
  width: 137px;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.adminDashboard,
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-10xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.adminDashboard,
.frameParent {
  box-sizing: border-box;
}
.frameParent {
  height: 1340px;
  width: 1296px;
  flex-direction: column;
  padding: 394px 0 0;
  gap: 79px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.adminDashboard {
  width: 100%;
  position: relative;
  background-color: #f8f8f8;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 130px;
  gap: var(--gap-base);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .frameParent {
    padding-top: 256px;
    box-sizing: border-box;
  }
  .adminDashboard {
    flex-wrap: wrap;
    padding-left: 65px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .frameParent {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    gap: 39px;
    padding-top: 166px;
    box-sizing: border-box;
  }
  .adminDashboard {
    padding-left: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-xl);
  }
}
