@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --table-field: Roboto;
  --font-quicksand: Quicksand;
  --font-lato: Lato;
  --font-nunito-sans: "Nunito Sans";
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-lgi: 19px;
  --table-heading-size: 14px;
  --font-size-7xl: 26px;
  --font-size-11xl: 30px;
  --font-size-53xl: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --font-size-mini: 15px;
  --table-field-size: 13px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-dodgerblue-100: #3394ff;
  --essential-5: #2f80ed;
  --colors-bluedark: #0a84ff;
  --color-cornflowerblue: #249eff;
  --color-black: #000;
  --gradient-blue-gradient-19: #00d2ff;
  --essential-4: #00c3f8;
  --gradient-orange-gradient-10: #e65c00;
  --gradient-red-gradient-9: #ec008c;
  --color-lightskyblue-100: #94bffd;
  --color-lightskyblue-200: #94befd;
  --color-steelblue-100: #549cd1;
  --color-steelblue-200: #3b83b7;
  --color-gray-100: #838383;
  --color-gray-200: #7e7e7e;
  --font-subtext: #7d7d7d;
  --color-gray-300: #202224;
  --color-gray-400: #111827;
  --color-darkslategray: #253d4e;
  --color-royalblue: #0d6efd;
  --color-whitesmoke-100: #f9f9fa;
  --color-whitesmoke-200: #ececec;
  --color-darkgray: #adadad;
  --color-silver: #b6b6b6;
  --color-hotpink: #f74b81;
  --color-mediumseagreen: #3bb77e;
  --color-honeydew: #def9ec;
  --color-ghostwhite: #f4f6fa;
  --color-paleturquoise: #bce3c9;
  --color-lightgray-100: #d5d5d5;
  --line-2: #cdd1de;
  --color-crimson: #ea0234;
  --typography-2: #555f7e;
  --typography-3: #8e95a9;
  --typography-1: #1c2a53;
  --brand-color-3: #ff392b;
  --color-brown: #9b2828;
  --color-red: #ff2424;
  --color-lightsteelblue: #a0aec0;

  /* Gaps */
  --gap-xl: 20px;
  --gap-82xl: 101px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-53xl: 72px;
  --gap-17xl: 36px;
  --gap-11xl: 30px;
  --gap-5xl: 24px;
  --gap-9xl-8: 28.8px;
  --gap-9xs: 4px;
  --gap-15xl-9: 34.9px;
  --gap-mid: 17px;
  --gap-mini-9: 14.9px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-6xl-4: 25.4px;
  --gap-29xl-4: 48.4px;
  --gap-mini: 15px;
  --gap-8xs: 5px;
  --gap-10xs-4: 2.4px;
  --gap-2xs-4: 10.4px;
  --gap-lgi: 19px;
  --gap-2xs: 11px;
  --gap-base: 16px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-base-5: 15.5px;
  --gap-22xl-2: 41.2px;
  --gap-19xl-7: 38.7px;
  --gap-8xl-8: 27.8px;
  --gap-6xs-2: 6.2px;
  --gap-5xs-6: 7.6px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-35xl-3: 54.3px;
  --gap-37xl: 56px;
  --gap-37xl-5: 56.5px;
  --gap-9xl: 28px;
  --gap-35xl-8: 54.8px;
  --gap-14xl-3: 33.3px;
  --gap-2xs-3: 10.3px;
  --gap-lg: 18px;
  --gap-50xl: 69px;
  --gap-15xl: 34px;
  --gap-11xs-5: 1.5px;
  --gap-smi: 13px;
  --gap-13xl: 32px;
  --gap-12xl: 31px;
  --gap-21xl: 40px;
  --gap-78xl-3: 97.3px;
  --gap-30xl: 49px;
  --gap-mid-1: 17.1px;
  --gap-lg-2: 18.2px;
  --gap-xs-8: 11.8px;

  /* Paddings */
  --padding-15xl: 34px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-base-5: 15.5px;
  --padding-21xl-5: 40.5px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-23xl-4: 42.4px;
  --padding-9xl: 28px;
  --padding-4xl: 23px;
  --padding-3xl: 22px;
  --padding-30xl: 49px;
  --padding-lgi: 19px;
  --padding-20xl: 39px;
  --padding-20xl-6: 39.6px;
  --padding-21xl: 40px;
  --padding-3xl-5: 22.5px;
  --padding-17xl: 36px;
  --padding-13xl: 32px;
  --padding-sm: 14px;
  --padding-6xs: 7px;
  --padding-57xl-1: 76.1px;
  --padding-25xl-7: 44.7px;
  --padding-7xs-3: 5.3px;
  --padding-3xs-6: 9.6px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-51xl: 70px;
  --padding-base-7: 16.7px;
  --padding-14xl: 33px;
  --padding-14xl-3: 33.3px;
  --padding-26xl: 45px;
  --padding-12xs: 1px;
  --padding-26xl-6: 45.6px;
  --padding-2xl: 21px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-4xs: 9px;
  --padding-lgi-6: 19.6px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-xl-6: 20.6px;
  --padding-6xl: 25px;
  --padding-22xl: 41px;
  --padding-10xl-2: 29.2px;
  --padding-mini-3: 14.3px;
  --padding-lgi-7: 19.7px;
  --padding-18xl: 37px;
  --padding-23xl-7: 42.7px;
  --padding-19xl: 38px;
  --padding-smi-2: 12.2px;
  --padding-lg-1: 18.1px;
  --padding-lg: 18px;
  --padding-14xl-8: 33.8px;
  --padding-xl-3: 20.3px;
  --padding-32xl-8: 51.8px;
  --padding-mini-7: 14.7px;
  --padding-15xl-4: 34.4px;
  --padding-base: 16px;
  --padding-36xl-5: 55.5px;
  --padding-59xl: 78px;
  --padding-39xl: 58px;
  --padding-7xs-5: 5.5px;
  --padding-59xl-2: 78.2px;
  --padding-25xl-4: 44.4px;
  --padding-7xs: 6px;
  --padding-base-4: 16.4px;
  --padding-8xs-4: 4.4px;
  --padding-5xl-8: 24.8px;
  --padding-2xs: 11px;
  --padding-mid: 17px;
  --padding-12xl-1: 31.1px;
  --padding-8xl: 27px;
  --padding-10xl: 29px;
  --padding-66xl: 85px;
  --padding-3xl-9: 22.9px;
  --padding-7xl: 26px;
  --padding-4xs-9: 8.9px;
  --padding-xs-5: 11.5px;
  --padding-4xl-8: 23.8px;
  --padding-3xs-2: 9.2px;
  --padding-5xl: 24px;
  --padding-72xl: 91px;
  --padding-29xl: 48px;
  --padding-96xl: 115px;
  --padding-57xl: 76px;
  --padding-63xl: 82px;
  --padding-73xl: 92px;
  --padding-5xl-6: 24.6px;
  --padding-12xl: 31px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-11xl: 30px;
  --br-3xl-5: 22.5px;
  --br-8xs: 5px;
  --br-sm: 14px;
  --br-5xl: 24px;
  --br-45xl: 64px;
  --br-29xl: 48px;
}
